@model ButceAnaliz.Models.Dashboard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>Dashboard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GelenToplamTutar" class="control-label"></label>
                <input asp-for="GelenToplamTutar" class="form-control" />
                <span asp-validation-for="GelenToplamTutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GidenToplamTutar" class="control-label"></label>
                <input asp-for="GidenToplamTutar" class="form-control" />
                <span asp-validation-for="GidenToplamTutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToplamTutar" class="control-label"></label>
                <input asp-for="ToplamTutar" class="form-control" />
                <span asp-validation-for="ToplamTutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KayitTarihi" class="control-label"></label>
                <input asp-for="KayitTarihi" class="form-control" />
                <span asp-validation-for="KayitTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
