#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column1 {
    background-color: #d4c4df;
}

#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column2 {
    background-color: #cfdfc4;
}

#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column3 {
    background-color: #82c3b8;
}

#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column4 {
    background-color: #f6c2a8;
}

#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column5 {
    background-color: #9aafc7;
}

#wdr-pivot-view #wdr-grid-view .wdr-grand-total-column6 {
    background-color: #fde2a3;
}
