@model ButceAnaliz.Models.Gelir
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Gelir</h4>
    <hr />
    <div class="table-danger">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Maas" class="control-label"></label>
                    <input asp-for="Maas" class="form-control" />
                    <span asp-validation-for="Maas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YatırımKar" class="control-label"></label>
                    <input asp-for="YatırımKar" class="form-control" />
                    <span asp-validation-for="YatırımKar" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="User.UserName" class="control-label"></label>
                    <input asp-for="User.UserName" class="form-control" value="@User" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
